<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<File name="FILE" fileName="C:/Users/alex.sandro.c.gomes/Documents/Logs/log.log">
			<PatternLayout pattern="[%d] [%-5level] [%thread] %class.%method\(\) \(%F:%line\)
					%n%msg%n----------------------------------------------------------------------------------------------------------------%n" />
		</File>

		<RollingFile name="ROLLING"
			fileName="C:/Users/alex.sandro.c.gomes/Documents/Logs/logsroll.log"
			filePattern="C:/Users/alex.sandro.c.gomes/Documents/Logs/logsroll-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout pattern="[%d] [%-5level] [%thread] %class.%method\(\) \(%F:%line\)
					%n%msg%n----------------------------------------------------------------------------------------------------------------%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="0.001 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="ROLLING" />
		</Root>
	</Loggers>
</Configuration>